#container
{
    border: 2px solid rgb(29, 215, 69);
    background-color: pink;
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    align-content: center;
    border-radius: 5px;
}
div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    align-self: center;
    margin-left: 5px;
    line-height: 50px;
}